<nav class="navbar is-black has-text-white" role="navigation">
    <div class="navbar-brand">
        <a class="has-text-white m-2" href="/">
            nuxtblog-miller
        </a>
    </div>
    <div class="navbar-menu m-2">
        <div class="navbar-item">
            <a class="has-text-white" href="/">
                Alice
            </a>
        </div>
        <div class="navbar-item">
            <a class="has-text-white" href="/">
                Bob
            </a>
        </div>
        <div class="navbar-item">
            <a class="has-text-white" href="/">
                Charley
            </a>
        </div>
    </div>
</nav>